<div class="alert alert-dismissible alert-danger text-center leter" *ngIf="mostrarError">
  <strong>Oh NOO!</strong>  La ciudad no se encuentra.
</div>

<div class="row">
  <div class="col-lg-4">
    <img src="assets/clima/clima.png" alt="imagen de clima">
  </div>
  <div class="col-lg-6">
    <input type="text" class="form-control form-control-lg " [(ngModel)]="ciudad"
    placeholder="Escriba la ciudad">
    <button class="btn btn-info btn-lg btn-block mt-4"
    (click)="obtenerClima()"
    [disabled]=" ciudad == ''">OBTENER CLIMA</button>

    <div class="d-flex justify-content-center pt-5" *ngIf="loading">
      <div class="spinner-border text-info" role="status"></div>
      <div class="spinner-border text-info" role="status"></div>
      <div class="spinner-border text-info" role="status"></div>
    </div>  


    <div class="card border-info lg-info mt-3" *ngIf="query">
      <div class="card-body">
        <h4 class="card-title">Clima de  {{ciudad | uppercase}} </h4>
        <p class="card-text"><b>Temperatura:</b>{{ tempetura | number:'1.2-2' }}°C</p>
        <p class="card-text"><b>Humedad:</b> {{ humedad }}</p>
        <p class="card-text"><b>Clima:</b>{{ clima }}</p>
        <p class="card-text"><b>Descripción:</b>{{ description  }}</p>
      </div>
    </div>

  </div>
</div>