<div class="container-fluid fondo">
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 offset-2">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="titulo">TARJETA DE CREDITO</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <app-crear-targeta></app-crear-targeta>
      </div>
      <div class="col-lg-6">
        <app-listar-targeta></app-listar-targeta>
      </div>
    </div>
  </div>

</div>
